@media only screen and (min-width: 1025px) 
{
    body > nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    body > nav > div {
        width: 100%;
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    body > nav > div > button {
        width: 100px;
        height: 50px;
        background-color: aliceblue;
        color: black;
        margin-right: 30px;
        font-size: 14px;
        font-weight: 700;
        border: 2px solid aliceblue;
        transition: 0.25s;
    }

    body > nav > div > button:hover {
        border: 2px solid black;
        cursor: pointer;
    }
}
