#dashboard > main {
    width: 90%;
    height: 100%;
    background-color: white;

    padding: 1rem;
}

#dashboard > main > section {
    width: 100%;
    margin-top: 1rem;
}

/* LATEST POST SECTION */
#dashboard > main > section:first-child {
    height: 30%;
}

#dashboard > main > section:first-child:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
}

/* FORUM LIST SECTION */
#dashboard > main > section:nth-child(2) {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

/* FORUM LIST CONTAINER */
#dashboard > main > section:nth-child(2) > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

/* FORUM LIST CONTAINER ITEM */
#dashboard > main > section:nth-child(2) > div > div {
    width: 150px;
    height: 150px;
    background-color: red;
    margin-right: 2rem;
    margin-top: 1rem;
    /* CENTER TEXT */
    text-align: center;
    font-size: 2rem;
    background-size: 100% 100%;
}

#dashboard > main > section:nth-child(2) > div > div:hover {
    cursor: pointer;
}

#dashboard > main > section:nth-child(2) > div > div *:hover {
    cursor: pointer;
}



#dashboard > main > section:nth-child(2) > div > div *{
}

#dashboard > main > section:nth-child(2) > div > div:first-child {
    background-image: url("../pictures/gaming.jpg");
}

#dashboard > main > section:nth-child(2) > div > div:nth-child(2) {
    background-image: url("../pictures/busniess.jpg");
}

#dashboard > main > section:nth-child(2) > div > div:nth-child(3) {
    background-image: url("../pictures/life.jpg");
}