@media only screen and (max-width: 767px) 
{
    .large, .medium {
        display: none;
    }

    body > nav > #menu {
        position: fixed;
        width: 90vw;
        height: 100vh;
        transition: 0.25s;
        background-color: var(--secondary-color);
        left: 100vw;
        top: 0;
    }
    
    body > nav > .active {
        left: 10vw !important;
    }
}