@media only screen and (min-width: 767px) and (max-width: 1024px) 
{
    .large, .mobile {
        display: none;
    }

    body > main {
        padding-left: 20px;
        padding-right: 20px;
    }
}

