:root {
    --primary-color: #32681d;
    --secondary-color: #827717;

    --primary-color-light: #619648;
    --primary-color-dark: #003d00;

    --secondary-color-light: #b4a647;
    --secondary-color-dark: #524c00;

    --primary-text: white;
    --secondary-text: white;

    --primary-light-text: black;
    --primary-dark-text: white;

    --secondary-light-text: black;
    --secondary-dark-text: white;
}