@import "responsive/mobile/mobile.css";
@import "responsive/medium/medium.css";
@import "responsive/large/large.css";
@import "responsive/mobileAndMedium/mobileAndMedium.css";
@import "reusable/head.css";
@import "classes.css";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto" "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

html, body {
    width: 100%;
    height: 100vh;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
