:root {
    --primary-color: #212121;
    --secondary-color: #263238;

    --primary-color-light: #484848;
    --primary-color-dark: #000000;

    --secondary-color-light: #4f5b62;
    --secondary-color-dark: #000a12;

    --primary-text: white;
    --secondary-text: white;

    --primary-light-text: white;
    --primary-dark-text: white;

    --secondary-light-text: white;
    --secondary-dark-text: white;
}