:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;

    --primary-color-light: #ecf0f1;
    --primary-color-dark: #34495e;

    --secondary-color-light: #ecf0f1;
    --secondary-color-dark: #2677ad;

    --primary-text: #fff;
    --secondary-text: #fff;

    --primary-light-text: #000;
    --primary-dark-text: #fff;

    --secondary-light-text: #000;
    --secondary-dark-text: #000;

    --navbar-color: #0153a5;
    --navbar-text-color: ;
    
    --card-background-color: #ecf0f1;
    --card-text-color: #000;

    --menu-title-bar: ;
    --menu-background: ;
    --menu-color: ;
    --menu-highlight-color: ;

}
